<!DOCTYPE html>
<html ng-app="VisualApp">
  <head>
    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="index.css"/>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAd1xMYT1bt99qtFWQEzXiRBvORDWHgPtk"></script>

<script src="./bundle.js"></script>
    <title>Madison Park Area Crime App</title>
  </head>
  <body>
    <h1>Madison Park Area Crime Tracker</h1>
    <!-- <p class="info">
      This information is provided by the data.seattle.gov Seattle 911 'Accident Investigation' API (<a href="https://data.seattle.gov/Public-Safety/Seattle-911-Accident-Investigation-/8rnc-58qi">here</a>). Information is updated throughout the day.
      </p> -->
    <div class="crime" ng-controller="MapController">

      <p class="date">  {{count}} records for dates: {{oldD | date: ' MM/dd/yyyy'}} to  {{currD| date: ' MM/dd/yyyy'}}
        </p>

<div id="map"></div>
    <div class="container">
      <div id="class" ng-repeat="marker in markers | orderBy: ['-date']" >
        <a href="#" ng-click="openInfoWindow($event, marker)">

           <label>{{marker.title}}</a> <img src="{{marker.icon}}" alt="" /><br>  at {{marker.date | date: ' MM/dd/yyyy HH:mm'}} <br> on {{marker.location}} <br>

         </label>
         </div>
  </div>
</div>
<div class="ref">
  <h3>Resources</h3>
  <ul>
    <li>Seattle Police non emergency phone number: <strong>(206) 625-5011</strong></li>
    <li>Seattle Police Dept Contact Info: <strong> <a href="http://www.seattle.gov/police/contact/">Site</a></strong></li>
    <li>911 Call Data: <strong><a href="https://data.seattle.gov/Public-Safety/Seattle-911-Accident-Investigation-/8rnc-58qi">Site</a></strong></li>
    <li>Police Codes: <strong><a href="http://www.interceptradio.com/wiki/index.php/Seattle_Police_Department_Codes">Site</a></strong></li>
  </ul>
  If you have any questions, feel free to email me @<a href="mailto:info@lisawenke.com">info@lisawenke.com</a>

</div>
<footer>&copy 2016 Lisa Wenke      <strong>Madison Park Crime Tracker</strong>    <a href="mailto:info@lisawenke.com">info@lisawenke.com</a></footer>
  </body>
</html>
